:root {
  --pico-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --pico-font-size: 105%;
}
h1 {
  --pico-typography-spacing-top: 0.5rem;
  --pico-typography-spacing-vertical: 0.5rem;
}
h2 {
  --pico-typography-spacing-top: 0.5rem;
  --pico-typography-spacing-vertical: 0.5rem;
}
h3 {
  --pico-typography-spacing-top: 0.5rem;
  --pico-typography-spacing-vertical: 0.5rem;
}
h4 {
  --pico-typography-spacing-top: 0.5rem;
  --pico-typography-spacing-vertical: 0.5rem;
}
