name: Deploy to VPS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout site
        uses: actions/checkout@v4

      - name: Deploy files
        run: jekyll build --destination /var/www/pythonleiden.nl
